Flask
Flask-SQLAlchemy
Flask-CORS
openai-whisper
soundfile
sentence-transformers
transformers
nltk
torch
accelerate
python-dotenv
gunicorn
pymysql
requests
pandas
openpyxl
faster-whisper
google-generativeai
